body {
  background: linear-gradient(180deg, rgb(8, 46, 78) 0%, rgb(11, 18, 24) 100%);
  background-image: url("https://images.pexels.com/photos/23273/pexels-photo.jpg");
}
.card {
  margin: 0 auto;
  max-width: 260px;
  text-align: center;
  border-width: 3px;
  box-shadow: 10px 5px 5px black;
  border-color: #ada66d;
  background-color: transparent;
}

h3,
h6 {
  color: #ffffff;
  max-width: 250px;
  text-align: center;
  border-width: 5px;
  border-color: rgb(10, 47, 88);
  display: block;
  background-color: transparent;
  font-size: 18px;
  margin: 20px auto;
  text-shadow: 4px 4px 4px #000000;
}

.card-title,
.card-header {
  font-family: "Passion One", cursive;
  color: rgb(236, 245, 198);
  text-shadow: 4px 4px 4px #000000;
}

.card-text {
  color: #ffffff;
  font-size: 25px;
  font-family: "Passion One", cursive;
  text-shadow: 4px 4px 4px #000000;
}
.card-title {
  font-size: 30px;
}

h1 {
  font-size: 55px;
}
h2 {
  font-size: 25px;
  font-family: "Passion One", cursive;
  color: rgb(149, 192, 241);
  text-shadow: 4px 4px 4px #000000;
}

.card-text-small {
  color: #aedcf3;
  text-shadow: 4px 4px 4px #000000;
}

.card-text-emoji {
  font-size: 50px;
  color: #2670af;
  text-shadow: 4px 4px 4px #000000;
}

.card-large {
  font-size: 50px;
}
h5 {
  color: #ffffff;
}

button {
  max-width: 50px;
  display: inline;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(216, 230, 238);
  box-shadow: 5px 5px 5px black;
  font-weight: 700;
}
li {
  display: inline;
}
.currentLocation {
  max-width: 90px;
  display: inline;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(216, 230, 238);
  box-shadow: 5px 5px 5px black;
  font-weight: 700;
}
